<div class=”jumbotron”>
  <h2><%= gettext "Welcome to %{name}", name: "Phoenix!" %></h2>
  <p class=”lead”>This text will change dynamically without you having to restart the server or refresh your page!</p>
</div>
